body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f8f8f8;
}

header{
    background:#8b0000;
    color:white;
    text-align:center;
    padding:25px;
}

#gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    padding:30px;
}

img{
    width:100%;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
}

img:hover{
    transform:scale(1.03);
}
